@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: relative;
    height: 100vh;
    top: 0;
    left: 0;
    background: #6c9ab7a2;
    overflow: hidden !important;
}

.background span {
    width: 34vmin;
    height: 34vmin;
    border-radius: 34vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 45;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #49a7b0;
    top: 25%;
    left: 79%;
    animation-duration: 47s;
    animation-delay: -44s;
    transform-origin: 20vw 1vh;
    box-shadow: -68vmin 0 8.974701775405025vmin currentColor;
}
.background span:nth-child(1) {
    color: #3a40a683;
    top: 26%;
    left: 50%;
    animation-duration: 36s;
    animation-delay: -1s;
    transform-origin: -9vw -15vh;
    box-shadow: -68vmin 0 9.198949314824002vmin currentColor;
}
.background span:nth-child(2) {
    color: #4881bee0;
    top: 35%;
    left: 83%;
    animation-duration: 33s;
    animation-delay: -39s;
    transform-origin: 13vw 3vh;
    box-shadow: 68vmin 0 8.742188460594592vmin currentColor;
}
.background span:nth-child(3) {
    color: #3847bbc3;
    top: 58%;
    left: 100%;
    animation-duration: 16s;
    animation-delay: -27s;
    transform-origin: 10vw 24vh;
    box-shadow: -68vmin 0 8.875478165426541vmin currentColor;
}
.background span:nth-child(4) {
    color: #e7e4e3d6;
    top: 21%;
    left: 94%;
    animation-duration: 9s;
    animation-delay: -4s;
    transform-origin: 21vw 13vh;
    box-shadow: 68vmin 0 8.670730597463614vmin currentColor;
}
.background span:nth-child(5) {
    color: #cdd3d4;
    top: 20%;
    left: 44%;
    animation-duration: 28s;
    animation-delay: -48s;
    transform-origin: -24vw -1vh;
    box-shadow: -68vmin 0 8.562849925215371vmin currentColor;
}
.background span:nth-child(6) {
    color: #73bbd7;
    top: 42%;
    left: 52%;
    animation-duration: 33s;
    animation-delay: -50s;
    transform-origin: 17vw 3vh;
    box-shadow: 68vmin 0 9.053805210173579vmin currentColor;
}
.fanta-section {
    position: absolute;
    top: 10%;
    z-index: 2;
    left: 10%;
    padding: 30px;
    display:flex;
    align-items: center;
}

.fantaImage{
    background-image: url('https://www.lavazzausa.com/content/dam/lavazza-athena/us/b2c/pdp_pagina-prodotto/accessories/hero-banner-accessories/main-asset/bgk_blue/20002124-classic_collection_espresso-cup/20002124-d-classic_collection_espresso-cup.png');
    height: 700px;
    width: 650px;
    animation: moveImage 2s  alternate;
}

@keyframes moveImage {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(160px); 
    }
  }
.fantaText{
    background-color: rgb(25, 154, 214);
   
    height:300px;
    width: 500px;
    border-radius: 30px;
    border: 10px solid rgb(3, 137, 199);
    padding: 20px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   margin-left: 100px;
}

.fantaText:hover{
    background-color: rgba(25, 154, 214, 0.377);
    border: 10px solid rgba(3, 137, 199, 0.568);
}

.fantaText h1 {
    color: white;
    font-size: 35px;
    font-weight: bolder;
    text-align: center;
  }
  
  .fantaText p {
    color: rgb(255, 250, 250);
    font-size: 20px;
    text-align: left;
   
  }


  @keyframes bounce-in-top {
    0% {
      opacity: 0;
      transform: translateY(-500px);
    }
    60% {
      opacity: 1;
      transform: translateY(30px);
    }
    80% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }

  .fantaText {
    animation: bounce-in-top 2s both;
  }


  
 