section {
  width: 100%;
  height: 100vh;
  background-image: url("../../../public/images/bg.png");
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  font-family: cursive;
}

section .main {
  display: flex;
}

section .main .text {
  margin: 0 5%;
  position: relative;
  top: 90px;
  margin-top: 50px;
}

section .main .text h1 {
  font-size: 55px;
  margin: 30px 0;
  overflow: hidden;
  white-space: nowrap;
  font-weight: bold;
}

section .main .text h1 span {
  font-size: 75px;
  color: #0d562f;
  display: inline-block;
}

section .main .text p {
  width: 650px;
  text-align: justify;
  line-height: 22px;
  margin-bottom: 85px;
}

section .main .text .btn {
  color: white;
  text-decoration: none;
  padding: 10px 25px;
  background: #0d562f;
  text-transform: uppercase;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

section .main .image img {
  width: 210px;
  position: relative;
  top: 10%;
  left: 125px;
  margin-top: 50px;
}

.video-section {
  width: 100%;
  height: 600px;
  position: relative;
  opacity: 0;
  animation: fade-in 1s forwards;
  background-color: #0d562f;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100px;
  background-color: #0d562f;
  padding: 30px;
}

/* TEXT */

.text[data-aos="fade-up"] {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s, transform 1s;
  transition-delay: 0.2s;
}

.text[data-aos="fade-up"].aos-animate {
  opacity: 1;
  transform: translateY(0);
}

/* IMG */

.image[data-aos="roll-in"] {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 1s, transform 1s;
  transition-delay: 0.2s;
}

.image[data-aos="roll-in"].aos-animate {
  opacity: 1;
  transform: translateX(0);
}

.image img{
  width: 1000px !important;
  height: 600px;
  margin-top: 0px !important;
  top: -10px !important;
  left: -100px !important;
  right: 100px !important;
}