@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
}

:root {
  --mainColor: #66402795;
  --mainColorLight: #5767aa;
  --secondaryColor: #db2b39;
  --textColor: #eee;
}

header {
  background-color: var(--mainColor);
  color: var(--textColor);
}

header.active-lavazza {
  background-color:#0c356b
}

header.active-starbucks{
	background-color:#0d562f
  }
header.active-illy{
	background-color:#ca4747
}

  header.active-nespresso{
	background-color:#190537b6
  }rgb(0, 169, 37)rgb(10, 85, 27)
  

  header.active-princcaffe{
	background-color:#d1d422
  }
  

  header.active-nescafe{
	background-color:#16161693
  }
  



nav a {
	margin: 0 1rem;
	color: var(--textColor);
	text-decoration: none;
	opacity: 0;
	font-size: 22px;
	font-weight: bolder;
}

nav a:nth-child(1) {
	animation: fade-down 1s ease-in-out forwards;
	animation-delay: 0.5s;
}

nav a:nth-child(2) {
	animation: fade-down 1s ease-in-out forwards;
	animation-delay: 0.8s;
}

nav a:nth-child(3) {
	animation: fade-down 1s ease-in-out forwards;
	animation-delay: 1.1s;
}

nav a:nth-child(4) {
	animation: fade-down 1s ease-in-out forwards;
	animation-delay: 1.5s;
}

@keyframes fade-down {
	from {
		opacity: 0;
		transform: translateY(-50px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

nav a:hover {
	color: rgb(212, 203, 203);
}

header .nav-btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: var(--textColor);
	visibility: hidden;
	opacity: 0;
	font-size: 1.8rem;
}

header div,
nav {
	display: flex;
	align-items: center;
}

.img {
	width: 100px; 
	height: 70px; 
	animation: fade-left 1s ease-in-out forwards;
	animation-delay: 0.5s;
}

@keyframes fade-left {
	from {
		opacity: 0;
		transform: translateX(-50px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

.img img {
	width: 100%;
	height: 100%;
	object-fit: contain; 
}

@media only screen and (max-width: 1024px) {
	header .nav-btn {
		visibility: visible;
		opacity: 1;
	}

	header nav {
		position: fixed;
		top: -100vh;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		background-color: var(--mainColor);
		transition: 1s;
		z-index: 9999; 
	}

	header .responsive_nav {
		transform: translateY(100vh);
	}

	nav .nav-close-btn {
		position: absolute;
		top: 2rem;
		right: 2rem;
	}

	nav a {
		font-size: 1.5rem;
	}
}
