.video-section {
  width: 100%;
  height: 600px;
  position: relative;
  opacity: 0;
  animation: 2s circle-in-top-right;
}

@keyframes circle-in-top-right {
  from {
    clip-path: circle(0%);
  

  }
  to {
    clip-path: circle(150% at top right);
 
  }
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(119, 92, 64, 0.842);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.textbox {
  width: 400px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 100px;
  margin-bottom: 20px;
  border-radius: 50px;
  margin-right: 40px;
  font-weight: bold;
  animation: rollIn 2s ease-in-out;
}

.imgbox {
  width: 500px;
  background-color: #ffffff9b;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 18px;
  margin-bottom: 20px;
}

.imgbox img {
  width: 500px;
  height: 600px;
}

.cover-section {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

h2 {
  color: #333333;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

p {
  color: #666666;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
}

.cover-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

/*  DATA AOS */


[data-aos] {
  opacity: 0;
  visibility: hidden;
  transition-duration: 10s;
  transition-timing-function: ease;
}


[data-aos].aos-animate {
  opacity: 1;
  visibility: visible;
}





/* FADE LEFT */

[data-aos="fade-left"] {
  animation-name: fade-left-animation;
  animation-duration: 3s; 
}

@keyframes fade-left-animation {
  from {
    opacity: 0;
    transform: translateX(200px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}




/* FADE RIGHT  */

[data-aos="fade-right"] {
  animation-name: fade-right-animation;
  animation-duration: 3s; 
}

@keyframes fade-right-animation {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
