.video-section {
  width: 100%;
  height: 600px;
  position: relative;
  opacity: 0;
  animation: fade-in 1s forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.video-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.text-overlay {
  position: absolute;
  top: 40%;
  left: 20%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 80px;
  text-align: center;
  font-family:Arial, Helvetica, sans-serif;
  opacity: 0;
  animation: roll-in-text 2s forwards, border-animation 2s infinite,
    tracking-in-expand-fwd 1.5s ease-in-out;
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

/* Section2 starts */

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 60px;
  margin-top: 60px;
}

.image-container {
  flex: 0 0 100%;
  max-width: 520px;
  padding: 15px;
  animation: roll-in-image 2s forwards;
}

@keyframes roll-in-image {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.image-container img {
  width: 80%;
  height: auto;
  border-radius: 8px;
  animation: roll-in-image 2s forwards;
}

.card-text {
  flex: 0 0 100%;
  max-width: 500px;
  padding: 40px;
  border-radius: 8px;
  border: 5px solid #521313;
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  animation: roll-in-text 2s forwards, border-animation 2s infinite,
    tracking-in-expand-fwd 1.5s ease-in-out;
  font-weight: bold;
}

@keyframes roll-in-text {
  0% {
    transform: translateX(50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes border-animation {
  0% {
    border-color: #521313;
  }
  50% {
    border-color: #0f0909;
  }
  100% {
    border-color: #926363;
  }
}

@keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

.card-text:hover {
  background-color: #f8f8f8;
  transform: scale(1.02);
}

.card-text h2 {
  font-size: 35px;
  margin-bottom: 10px;
}

.card-text p {
  font-size: 22px;
  color: #555;
}

.picture-frame {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
  height: 80vh;
  margin: 0 auto;
  background-image: url("https://images.pexels.com/photos/2074130/pexels-photo-2074130.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
  animation: bg-pan-bl 20s infinite linear;
  border-radius: 100px;
}

@-webkit-keyframes bg-pan-bl {
  0% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}

@keyframes bg-pan-bl {
  0% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}

.title {
  font-size:75px;
  color: white;
  border-radius: 4px;
  animation: text-flicker-in-glow 3s ease-in-out infinite;
  transform: translateX(-160px);
}

@keyframes text-flicker-in-glow {
  0% {
    opacity: 0;
    text-shadow: none;
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 8px rgba(187, 159, 159, 0.8);
  }
  100% {
    opacity: 0;
    text-shadow: none;
  }
}
